<form>
    <div class="form-group">
        <label for="bank">Bank</label>
        <select class="form-control" id="bank">
            <option ng-repeat="bank in banks" value="{{bank.id}}">{{bank.name}} - {{bank.account_name}} - {{bank.account_number}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="account-number">Nomor Rekening</label>
        <input type="text" class="form-control" id="account-number" placeholder="Nomor Rekening">
    </div>
    <div class="form-group">
        <label for="account-name">Atas Nama</label>
        <input type="text" class="form-control" id="account-name" placeholder="Atas Nama">
    </div>
    <div class="form-group">
        <label for="amount">Nominal</label>
        <input type="text" class="form-control" id="amount" placeholder="Nominal">
    </div>
    <div class="form-group">
        <label for="information">Keterangan</label>
        <textarea class="form-control" rows="3" id="information"></textarea>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>