<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->

<div ui-view="navigation"></div>

<div ui-view="content"></div>

<button class="btn btn-primary" ui-sref="app.navigation.guest">Navigation Guest</button>
<button class="btn btn-primary" ui-sref="app.navigation.logged-in">Navigation Logged In</button>
<button class="btn btn-primary" ui-sref="app.content.product">Product</button>
<button class="btn btn-primary" ui-sref="app.content.order">order</button>
<button class="btn btn-primary" ui-sref="app.content.authentication.login">order</button>